/* CSS reset  */
* {
    margin: 0px;
    padding: 0px;
}
html{
    /* it will work when u clik navigation it will move itself */
    scroll-behavior: smooth;
}

/* (first) css variable */
:root {
    --navbar-height: 59px;
}


/* navigation bar logo/images  */
#logo {

    margin: -11px -18px;

}

#logo img {
    margin: 17px 36px;
    height: 63px;
    border-radius: 271px;
}

/* (first set and give style  navigation bar list style)  */
/* navigation bar  */
#navbar {
    display: flex;
    position: sticky;
    align-items: center;
    top: 0px;

}

#navbar ul {
    display: flex;
    font-family: 'Koulen', cursive;

}

#navbar ul li {
    list-style: none;
    font-size: 1.2rem;

}

#navbar ul li a {
    display: block;
    margin: 21px 16px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    padding: 3px;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;


}

#navbar ul li a:hover {
    color: black;
    background-color: white;
    text-decoration: underline;

}

/* home section style  */
#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 534px;
    justify-content: center;
    align-items: center;
}

#home::before {
    content: "";
    background: url('foodbck-1.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;

}

#home h1 {
    color: white;
    text-align: center;
    font-family: 'Bree serif', serif;


}

#home p {
    color: white;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Bree serif', serif;

}

/* services section  */
#services {
    margin: 16px;
    display: flex;

}

#services .box {
    border: 2px solid brown;
    padding: 24px;
    margin: 5px;
    border-radius: 28px;
    background-color: #e7e1e1;

}

#services .box img {
    height: 160px;
    display: block;
    margin: auto;
}

#services .box p {
    font-family: Arial, Helvetica, sans-serif;
}

/* client-section  */
#client-section {
    height: 344px;
}



#clients {
    display: flex;
    align-items: center;
    justify-content: center;
}

#clients img {
    height: 114px;
}

.client-item {
    padding: 24px;
}

#client-section::before {
    content: "";
    background: url('bckclient.jpg') no-repeat center center/cover;
    position: absolute;
    height: 49%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;

}

/* contact section */
#contact {
    position: relative;

}

#contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('contact-us.jpg') no-repeat center center/cover;

}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box form {
    width: 40%;
}

#contact-box label {
    font-size: 1.3rem;
}


footer {
    background-color: black;
    color: white;
    padding: 9px 20px;
}







/* utility classes */
.h-primary {
    font-size: 2.8rem;
    padding: 12px;
    font-family: 'Bree serif', serif;
}

.h-secondry {
    font-family: 'Bree serif', serif;
    font-size: 1.9rem;
    padding: 9px;

}

.btn {
    padding: 4px 18px;
    border: 2px solid white;
    background-color: brown;
    margin: 17px;
    cursor: pointer;
    font-size: 1.1rem;
    border-radius: 10px;
    color: white;
    
}
button a{
    text-decoration: none;
}

.center {
    text-align: center;
}
/* .box:hover{
    display: flex;
    transform: scale(1.5);
} */